@charset "UTF-8";

/* 回答はここに書いてね */
.container{
  width: 940px;
  background-color: #eff3f4;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.container_box{
  width: 270px;
  margin: 20px 0 20px 20px;
  background-color: #3274ae;
  padding: 20px;
  float: left;
  box-sizing: border-box;
}

.container_contents{
  width: 230px;
  background-color: #eaf4ff;
  font-size: 16px;
  border: solid 10px #022336;
  padding: 20px;
  line-height: 16px;
  float: left;
  box-sizing: border-box;
}
/* 回答はここに書いてね */
