@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.A1-box{
  width: 225px;
  font-size: 16px;
  float: left;
  box-sizing: border-box;
  margin-left: 50px;
}

.A1-box:first-child{
  margin-left: 0px;
}

.A2-container{
  display: table;
}

.A2-box{
  display: table-cell;
  font-size: 16px;
  vertical-align: middle;
}

.A2-box:last-child{
  padding-left: 50px;
}

.A2-left-text{
  box-sizing: border-box;
  width: 225px;
}

.A2-right-text{
  box-sizing: border-box;
  width: 225px;
}

.A3-parent{
  font-size: 0;
}

.A3-inner{
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.A3-inner:last-child{
  margin-left: 50px;
}

.A4-parent{
  display: -webkit-flex;
  justify-content: space-around;
  align-items: flex-end;
  display: flex;
}

.A4-inner{
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.A5-parent{
  font-size: 0px;
}

.A5-left-box{
  vertical-align: top;
  display: inline-block;
}

.A5-left-text{
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
}

.A5-right-box{
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  box-sizing: border-box;
}

.A5-right-text{
  font-size: 16px;
}
/* 回答はここに書いてね */
