@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.A1{
  width: 225px;
  font-size: 16px;
  float: left;
  box-sizing: border-box;
}

.A1:last-child{
  margin-left: 50px;
}

.A2-1{
  display: table;
}

.A2-2{
  display: table-cell;
  font-size: 16px;
  vertical-align: middle;
}

.A2-3{
  box-sizing: border-box;
  width: 225px;
}

.A2-4{
  margin-left: 50px;
  box-sizing: border-box;
  width: 225px;
}

.A3-1{
  font-size: 0;
}

.A3-2{
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.A3-2:last-child{
  margin-left: 50px;
}

.A4-1{
  display: -webkit-flex;
  justify-content: space-around;
  align-items: flex-end;
  display: flex;
}

.A4-2{
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.A5A{
  font-size: 0px;
  width: 100%;
}

.A5LP{
  vertical-align: top;
  display: inline-block;
}

.A5LI{
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
}

.A5RP{
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  box-sizing: border-box;
}

.A5RI{
  font-size: 16px;
  box-sizing: border-box;
}
/* 回答はここに書いてね */
