@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  background-color: #ecf1f2;
}

.container td{
  padding: 10px;
  border: solid 1px #dedede;
}

.index{
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.day1 :first-child{
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.day2 :first-child{
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.day3 :first-child{
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.day4 :first-child{
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.total :first-child{
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.total{
  border-top: dashed 2px #000;
}
/* 回答はここに書いてね */
