@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  background-color: #ecf1f2;
}

.container td{
  padding: 10px;
  border: solid 1px #dedede;
  font-size: 18px;
  line-height: 26px;
}

.container th{
  color: #fff;
  background-color: #2244aa;
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
  border: solid 1px #dedede;
}

.container tr:first-child{
  color: #fff;
  background-color: #2244aa;
}

.container tr:last-child{
  border-top: dashed 2px #000;
}
/* 回答はここに書いてね */
