@charset "UTF-8";

/* 回答はここに書いてね */
.a1-left-container{
  text-align: center;
}

.a1-left-text{
  display: inline-block;
  padding: 10px;
  width: 90px;
  background-color: #e6f2ff;
}

.a1-right-text{
  width: 90px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #e6f2ff;
  box-sizing: border-box;
}

.a2-top-parent{
  display: table;
}

.a2-top-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.a2-top-text{
  padding: 10px;
  display: inline-block;
  background-color: #fff;
}

.a2-bottom-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.a2-bottom-inner{
  padding: 10px;
  background-color: #fff;
}

.a3-left-parent{
  position: relative;
}

.a3-left-inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.a3-right-parent{
  position: relative;
}

.a3-right-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
